extends layout

block content
  .container
    .row
      .col-sm.list
        h3 List 1
        table.sortable
          thead
            th.sorttable_nosort
            th Duration (Minutes)
            th Status
          tbody
            tr 
              td content
              td.center_text 1
              td Unfinished
      .col-sm.list
        h3 List 1
        table.sortable
          thead
            th.sorttable_nosort
            th Duration (Minutes)
            th Status
          tbody
            tr
              td contenta 
              td.center_text 1
              td Unfinished
            tr 
              td contentb
              td.center_text 2
              td Unfinished
            tr
              td contentc
              td.center_text 5
              td Finished