body {
  margin: 0;
  padding: 50px;
  background: #303030;
  font: 15px 'Roboto', sans-serif;
  color: #fff;
}

a {
  color: #00B7FF;
}

.list {
  background: #424242;
  margin: 4px;
  padding: 20px;
  
}

table.sortable thead {
    background-color:#666666;
    color: #eee;
    font-weight: bold;
    cursor: default;
    
}

th {
  padding: 5px;
  margin: 2px;
  padding-right: 20px;
}

.center_text {
  text-align: center;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
  content: " \25B4\25BE" 
}

@import url('https://fonts.googleapis.com/css?family=Roboto');